{% extends 'base.html.twig' %}

{% block title %}Recherche de références musicales By Fruitify{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="display: flex; justify-content: space-between"> <div> Recherche de références musicales By </div> <div style="color: #555555;">Fruitify</div></h1>
    Liste des références
    <ul>
        <li id="155655565565561">
            <div class = "reference"> Nom Reference </div>
            <div class="name"> PNL </div>
            <div class="year" > 2023 </div>
            <div class="genre"> rap </div>
            <div class="format"> Vinyle </div>
            <button onclick="ajouter('155655565565561');"><i class="fa-solid fa-plus"></i></button>
        </li>

        <li>
            <div> Nom Reference </div>
            <div> Artiste </div>
            <div> Année </div>
            <div> Genre </div>
            <div> Format </div>
            <button onclick="alert('test');"> Ajouter </button>
        </li>

        <li>
            <div> Nom Reference </div>
            <div> Artiste </div>
            <div> Année </div>
            <div> Genre </div>
            <div> Format </div>
            <button onclick="alert('test');"> Ajouter </button>
        </li>
    </ul>
</div>
{% endblock %}
