@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Varela Round", sans-serif;
}

body {
    background-color: #000;
}

#divider-login{
    width: 8vw;
    height: 10px;
    background-color: #59d2fe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#registration-link{
    font-size: 1em;
}
